body{
    /* background-color: #050404; */
    background-image: url('../img/fundo_ordem.jpg');
    background-repeat: no-repeat;
}
header{
   padding:3%
}

#menu ul{
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
    list-style: none;
}

#menu ul li {display: inline;}

#pmenu ul li{
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border: bottom 3px seagreen;
}



.logo{
    /* background-color: rgb(113, 236, 206); */
}
nav{
    /* background-color: rgb(0, 255, 106); */
}
main{
   /* background-color: rgb(9, 102, 21); */
}
section{
    /* background-color: rgb(145, 204, 8); */
}
footer{
    /* background-color: rgb(48, 151, 34); */
}
main{
    /* background-color: rgb(30, 109, 109); */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header{
    /* background-color: rgb(235, 203, 253); */
padding: 3%;
}
footer{
    /* background-color: rgb(228, 177, 242); */
    padding: 3%;
}