body{
    /* background-color: #050404; */
    background-image: url('../img/WhatsApp\ Image\ 2024-05-25\ at\ 16.26.49.jpeg'); 
    background-repeat: no-repeat ;
   background-size: cover;
}
    header{ padding: 3%; 
     display: flex;
     justify-self: space-between;
    align-items: center;
    }
#menu ul {
    padding: 0;
     margin: 0;
     list-style: none;
     display: flex;
  }
#menu ul li {
    display: inline;
   font-size: 1.5em;}

#pmenu ul li{
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border: bottom 3px rgb(251, 251, 251);
}
.logo img{
    max-width: 35%;
    height: auto;}
.logo {
    color: rgb(121, 121, 121);
    padding: 3%;
    font-size: 30px;
    margin: 2% solid rgb(10, 10, 10);
    /* background-color: rgb(113, 236, 206); */
}
nav{
    /* background-color: rgb(0, 255, 106); */
}
#menu ul li a { 
    padding: 2px;
    display: inline block;
    text-decoration: none;
    white-space: nowrap;
    color: #dddddd;white-space: nowrap;  
}
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    /* border-bottom:3px solid #ededed*/
    white-space: nowrap;
    color: #dddddd;}

#menu{
    display: inline;
    font-size: 1.5em;}

main{
    border: 2% solid rgba(255, 0, 0, 0.158);
    padding: 2%;
    margin-left: auto;
    margin-right: auto;

   /* background-color: rgb(9, 102, 21); */ 
}

footer{
    /* background-color: rgb(48, 151, 34); */
}
main{
    /* background-color: rgb(30, 109, 109); */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header{
    /* background-color: rgb(235, 203, 253); */
padding: 3%;
}
footer{
    /* background-color: rgb(228, 177, 242); */
    padding: 3%;
}

p{
    color: whitesmoke;
}
.imgem {
     /* Estilos opcionais para a imagem */
     max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
     ax-height: 100%; /* Garante que a imagem não ultrapasse a altura da tela */
     /* b Estilos opcionais para a imagem */
     padding: 10%;
     max-width: 100%; /* Garante que a imagem não ultrapasse a largura da tela */
     max-height: 100%; /* Garante que a imagem não ultrapasse a altura da tela */
    padding: 2%;
}

h1{
    color: aqua;
    font-size: larger;
    padding: 4%;
    margin: 5% solid red;
}
h2{
    color: aqua;
    font-size: 20px; 
    padding: 3%;
}
li{
    background-color: rgb(240, 248, 255, 0.158);
    border: 2px;
    color: rgb(0, 0, 0);
}

          p{
            line-height: 1.5;
            font-size: 1.2;
            text-align: justify;
          }
    figure{
        text-align: center;
        display: inline-block;
    }
    .caixa-imagem{
        text-align: center;
        margin-top: 1%;
    }
    td, th {
        border: 1px solid #ffffff;
        text-align: left;
        padding: 8px;
      }
    
        tr:nth-child(even){
            background-color: #dddddd;}
            .titulo{
                line-height: 3%;
                text-align: center;
               font-weight: bold;
            }
          
    p{ line-height: 1.5; 
    font-size: 1.2em;
text-align: justify;}



.caixa-imagem{
  text-align: center;
  margin-top: 1%;
}
figure{ 
    text-align: center;
    display: inline-block;
} 
figure img{
    display: block;
    margin: 0 auto;
    box-shadow:0px 4px 8px rgb(39, 27, 104);
    max-width: 100%;
    height: auto;
  }

  figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: aquamarine;}

th{
    color: white;
}
.tabela{
    text-align: center;
}
